body {
  background-image: url("/assets/bg.jpg");
  margin: 0; }

header {
  height: 68px;
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 15px 5px white; }

#headerBg {
  background-image: url("/assets/header_bg.svg");
  height: 10px;
  width: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap; }

#headerLogo {
  background-image: url("/assets/logo.svg");
  height: 60px;
  width: 120px; }

#plus {
  position: absolute;
  background-image: url("/assets/plus.png");
  height: 32px;
  width: 32px;
  left: 94vw;
  top: 15px; }

#plus:hover {
  background-image: url("/assets/plus_hover.png"); }

.searchBox {
  display: none;
  position: absolute;
  right: 0px;
  top: 30px;
  z-index: 1;
  width: 200px;
  height: 70px;
  background-color: #AC4325;
  flex-flow: column nowrap;
  justify-content: center;
  box-shadow: 4px 4px 10px #3C392A; }

#plus:hover .searchBox {
  display: flex; }

.navBar {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3C392A;
  box-shadow: inset 0px 10px 20px #1f1d15, 0px 4px 5px #7e4535; }
  .navBar .navLink {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: grey;
    padding: 3px; }
  .navBar .navBullet {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: grey;
    padding: 3px; }
  .navBar .navLink:hover {
    color: #AC4325; }

#random {
  cursor: pointer; }

#myBoards {
  cursor: default; }

#myBoards:hover .dropdownBox {
  display: block; }

.dropdownBox {
  display: none;
  position: absolute;
  text-align: center;
  width: 105px;
  z-index: 1;
  background-color: #3C392A;
  box-shadow: 4px 4px 10px #3C392A; }

.dropOption {
  cursor: pointer;
  color: grey;
  font-size: 18px;
  margin: 4px; }

.dropOption:hover {
  color: #AC4325; }

#getApp {
  cursor: default; }

#getApp:hover #appBox {
  display: flex; }

#appBox {
  display: none;
  position: absolute;
  justify-content: center;
  font-size: 14px;
  color: grey;
  width: 80px;
  z-index: 1;
  background-color: #3C392A;
  flex-flow: row wrap;
  box-shadow: 4px 4px 10px #3C392A; }

#apple {
  cursor: pointer; }
  #apple img {
    width: 40px;
    height: 40px; }

#android {
  cursor: pointer; }
  #android img {
    width: 40px;
    height: 40px; }

.content {
  min-height: calc(100vh - 168px);
  display: flex;
  justify-content: center; }

.redditContainer {
  display: flex;
  flex-flow: row wrap;
  width: 725px;
  padding: 16px; }

.redditBox {
  width: 330px;
  height: 400px;
  margin: 16px;
  background-color: white;
  box-shadow: 0px -4px 5px #7e4535, 4px 0px 5px #7e4535, -4px 0px 5px #7e4535, 0px 4px 5px #7e4535; }

.redditBox:hover {
  box-shadow: 0px -4px 5px #7e4535, 4px 0px 5px #7e4535, -4px 0px 5px #7e4535, 0px 4px 5px #7e4535, inset 0px 0px 0px 6px #e45f3b; }

.redditBox:hover .subject {
  color: #AC4325; }

.redditBoxContent {
  margin: 22px;
  width: 285px;
  height: 356px; }
  .redditBoxContent img {
    margin-bottom: 8px;
    width: 285px;
    height: 175px; }
  .redditBoxContent a {
    text-decoration: none; }

.subject {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: #3C392A;
  line-height: 27px;
  max-height: 55px;
  overflow: hidden;
  margin-bottom: 6px; }

.details {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: grey;
  line-height: 14px;
  max-height: 28px;
  max-width: 285px;
  overflow: hidden;
  margin-bottom: 16px; }

.preview {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  position: relative;
  color: #3C392A;
  word-break: break-word;
  line-height: 16px;
  max-height: 64px;
  max-width: 285px;
  overflow: hidden;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em; }

footer {
  height: 52px;
  background-color: #3C392A;
  box-shadow: 0px -4px 5px #7e4535;
  display: flex;
  justify-content: center;
  align-items: center; }

#facebook {
  background-image: url("/assets/facebook_grey.svg");
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 6px; }

#facebook:hover {
  background-image: url("/assets/facebook_orange.svg"); }

#instagram {
  background-image: url("/assets/instagram_grey.svg");
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 6px; }

#instagram:hover {
  background-image: url("/assets/instagram_orange.svg"); }

@media screen and (max-width: 755px) {
  .preview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  header {
    justify-content: left; }
  #headerBg {
    background-image: none;
    margin: 8px;
    width: 120px; }
  #plus {
    left: 85vw; }
  .redditContainer {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0px; }
  .redditBox {
    width: 380px;
    margin: 4px; }
  .redditBoxContent {
    width: 335px; }
    .redditBoxContent img {
      width: 335px;
      height: 200px; } }

@media screen and (max-width: 410px) {
  .redditBox {
    width: 300px;
    margin: 4px;
    height: 350px; }
  .redditBoxContent {
    width: 260px; }
    .redditBoxContent img {
      width: 260px;
      height: 150px; }
  .redditContainer {
    width: 310px;
    padding: 0px; }
  .navBar .navLink {
    font-size: 20px; } }
